* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-color: black;
  color: #fff;
}
h2{
  color: yellow;
}

.text-secoundary {
  color: #fff;
}

.mw {
  max-width: 500px;
}
.image{
  max-width: 200px;
  max-height: 400px;
  margin-bottom: 20px;
}